<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Patient</title>
</head>
<body>
    <h1>Add Patient</h1>
    <form method="post" th:action="@{/add-patient}">
        <label>Name:</label>
        <input type="text" th:field="${patient.name}" />
        <br />
        <label>Date of Birth:</label>
        <input type="date" th:field="${patient.dateOfBirth}" />
        <br />
        <label>Gender:</label>
     <select>
        <option value="">--Select--</option>
        <option value="MALE" th:selected="${patient.gender == 'MALE'}">Male</option>
        <option value="FEMALE" th:selected="${patient.gender == 'FEMALE'}">Female</option>
    </select>
    <br />
    <label>Address:</label>
    <textarea rows="3" th:field="${patient.address}"></textarea>
    <br />
    <input type="submit" value="Add Patient" />
    <a th:href="@{/}">Cancel</a>
    </form>
</body>
</html>